<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.4.1" package="ru.mihaxxx.grade" android:installLocation="auto" android:versionCode="10">
	<application android:icon="@mipmap/icon" android:label="Сервис БРС" ></application>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>
